
.wrap {
    opacity-background: 0.0;
}

body {
    font-family: Inconsolata, "Courier New", monospace;
    background-image:url(../res/bg.png);
    color=#000;
}

h1 {
    font-size: 1.5em;
    color: #b0c4de;
}

h2 {
    color: #00FF7F;
}


p {
    color: #fff;
    font-size: 14pt;
    font-smooth: never;
}

.headpar {
    color:#00FFFF;
}

.headital {
    color: #FFFF00;
}

a {
    font-weight: bold;
    text-decoration: none;
}

 /* unvisited link */
a:link {
  color: #00FFFF;
}

/* visited link */
a:visited {
  color: #e916d5;
}


/* selected link */
a:active {
  color: blue;
} 

a:hover {
    text-decoration: underline;
}
