/* X11 colors (snake_case version) with some additions at the end */

:root {
    --black:#000000;
    --gray0:#000000;
    --grey0:#000000;
    --gray1:#030303;
    --grey1:#030303;
    --gray2:#050505;
    --grey2:#050505;
    --gray3:#080808;
    --grey3:#080808;
    --navy_blue:#000080;
    --navy:#000080;
    --gray4:#0a0a0a;
    --grey4:#0a0a0a;
    --dark_blue:#00008b;
    --blue4:#00008b;
    --gray5:#0d0d0d;
    --grey5:#0d0d0d;
    --medium_blue:#0000cd;
    --blue3:#0000cd;
    --gray6:#0f0f0f;
    --grey6:#0f0f0f;
    --blue2:#0000ee;
    --gray7:#121212;
    --grey7:#121212;
    --blue1:#0000ff;
    --blue:#0000ff;
    --gray8:#141414;
    --grey8:#141414;
    --gray9:#171717;
    --grey9:#171717;
    --gray10:#1a1a1a;
    --grey10:#1a1a1a;
    --gray11:#1c1c1c;
    --grey11:#1c1c1c;
    --dark_red:#8b0000;
    --red4:#8b0000;
    --gray12:#1f1f1f;
    --grey12:#1f1f1f;
    --midnight_blue:#191970;
    --gray13:#212121;
    --grey13:#212121;
    --gray14:#242424;
    --grey14:#242424;
    --gray15:#262626;
    --grey15:#262626;
    --dark_magenta:#8b008b;
    --magenta4:#8b008b;
    --gray16:#292929;
    --grey16:#292929;
    --deep_pink4:#8b0a50;
    --gray17:#2b2b2b;
    --grey17:#2b2b2b;
    --red3:#cd0000;
    --gray18:#2e2e2e;
    --grey18:#2e2e2e;
    --dark_violet:#9400d3;
    --purple4:#551a8b;
    --gray19:#303030;
    --grey19:#303030;
    --firebrick4:#8b1a1a;
    --red2:#ee0000;
    --gray20:#333333;
    --grey20:#333333;
    --gray21:#363636;
    --grey21:#363636;
    --red1:#ff0000;
    --red:#ff0000;
    --gray22:#383838;
    --grey22:#383838;
    --orange_red4:#8b2500;
    --dark_orchid4:#68228b;
    --maroon4:#8b1c62;
    --brown4:#8b2323;
    --magenta3:#cd00cd;
    --gray23:#3b3b3b;
    --grey23:#3b3b3b;
    --violet_red4:#8b2252;
    --gray24:#3d3d3d;
    --grey24:#3d3d3d;
    --deep_pink3:#cd1076;
    --gray25:#404040;
    --grey25:#404040;
    --royal_blue4:#27408b;
    --firebrick:#b22222;
    --gray26:#424242;
    --grey26:#424242;
    --medium_violet_red:#c71585;
    --magenta2:#ee00ee;
    --slate_blue4:#473c8b;
    --brown:#a52a2a;
    --purple3:#7d26cd;
    --dark_slate_blue:#483d8b;
    --gray27:#454545;
    --grey27:#454545;
    --dodger_blue4:#104e8b;
    --tomato4:#8b3626;
    --gray28:#474747;
    --grey28:#474747;
    --dark_green:#006400;
    --dark_slate_gray:#2f4f4f;
    --dark_slate_grey:#2f4f4f;
    --magenta1:#ff00ff;
    --magenta:#ff00ff;
    --deep_pink2:#ee1289;
    --firebrick3:#cd2626;
    --gray29:#4a4a4a;
    --grey29:#4a4a4a;
    --purple:#a020f0;
    --indian_red4:#8b3a3a;
    --medium_orchid4:#7a378b;
    --blue_violet:#8a2be2;
    --gray30:#4d4d4d;
    --grey30:#4d4d4d;
    --coral4:#8b3e2f;
    --violet_red:#d02090;
    --hot_pink4:#8b3a62;
    --maroon:#b03060;
    --dark_orange4:#8b4500;
    --gray31:#4f4f4f;
    --grey31:#4f4f4f;
    --deep_pink1:#ff1493;
    --deep_pink:#ff1493;
    --purple2:#912cee;
    --saddle_brown:#8b4513;
    --chocolate4:#8b4513;
    --medium_purple4:#5d478b;
    --gray32:#525252;
    --grey32:#525252;
    --orange_red3:#cd3700;
    --dark_orchid:#9932cc;
    --sienna4:#8b4726;
    --dark_orchid3:#9a32cd;
    --maroon3:#cd2990;
    --brown3:#cd3333;
    --gray33:#545454;
    --grey33:#545454;
    --deep_sky_blue4:#00688b;
    --firebrick2:#ee2c2c;
    --purple1:#9b30ff;
    --gray34:#575757;
    --grey34:#575757;
    --pale_violet_red4:#8b475d;
    --violet_red3:#cd3278;
    --salmon4:#8b4c39;
    --gray35:#595959;
    --grey35:#595959;
    --orchid4:#8b4789;
    --gray36:#5c5c5c;
    --grey36:#5c5c5c;
    --firebrick1:#ff3030;
    --steel_blue4:#36648b;
    --orange4:#8b5a00;
    --gray37:#5e5e5e;
    --grey37:#5e5e5e;
    --royal_blue3:#3a5fcd;
    --sienna:#a0522d;
    --orange_red2:#ee4000;
    --dark_orchid2:#b23aee;
    --light_salmon4:#8b5742;
    --maroon2:#ee30a7;
    --gray38:#616161;
    --grey38:#616161;
    --tan4:#8b5a2b;
    --brown2:#ee3b3b;
    --dark_olive_green:#556b2f;
    --gray39:#636363;
    --grey39:#636363;
    --green4:#008b00;
    --slate_blue3:#6959cd;
    --slate_blue:#6a5acd;
    --gray40:#666666;
    --grey40:#666666;
    --violet_red2:#ee3a8c;
    --dark_goldenrod4:#8b6508;
    --dodger_blue3:#1874cd;
    --dark_orchid1:#bf3eff;
    --orange_red1:#ff4500;
    --orange_red:#ff4500;
    --tomato3:#cd4f39;
    --maroon1:#ff34b3;
    --spring_green4:#008b45;
    --brown1:#ff4040;
    --light_pink4:#8b5f65;
    --dim_gray:#696969;
    --dim_grey:#696969;
    --gray41:#696969;
    --grey41:#696969;
    --royal_blue:#4169e1;
    --sky_blue4:#4a708b;
    --turquoise4:#00868b;
    --goldenrod4:#8b6914;
    --gray42:#6b6b6b;
    --grey42:#6b6b6b;
    --pink4:#8b636c;
    --forest_green:#228b22;
    --violet_red1:#ff3e96;
    --dark_cyan:#008b8b;
    --cyan4:#008b8b;
    --gray43:#6e6e6e;
    --grey43:#6e6e6e;
    --royal_blue2:#436eee;
    --indian_red3:#cd5555;
    --medium_orchid3:#b452cd;
    --gray44:#707070;
    --grey44:#707070;
    --rosy_brown4:#8b6969;
    --plum4:#8b668b;
    --gold4:#8b7500;
    --coral3:#cd5b45;
    --chartreuse4:#458b00;
    --gray45:#737373;
    --grey45:#737373;
    --sea_green4:#2e8b57;
    --sea_green:#2e8b57;
    --medium_orchid:#ba55d3;
    --indian_red:#cd5c5c;
    --dark_orange3:#cd6600;
    --slate_blue2:#7a67ee;
    --gray46:#757575;
    --grey46:#757575;
    --medium_slate_blue:#7b68ee;
    --burlywood4:#8b7355;
    --royal_blue1:#4876ff;
    --medium_purple3:#8968cd;
    --light_sky_blue4:#607b8b;
    --chocolate3:#cd661d;
    --dodger_blue2:#1c86ee;
    --gray47:#787878;
    --grey47:#787878;
    --steel_blue:#4682b4;
    --slate_gray4:#6c7b8b;
    --tomato2:#ee5c42;
    --light_steel_blue4:#6e7b8b;
    --chocolate:#d2691e;
    --peach_puff4:#8b7765;
    --gray48:#7a7a7a;
    --grey48:#7a7a7a;
    --sienna3:#cd6839;
    --aquamarine4:#458b74;
    --hot_pink3:#cd6090;
    --navajo_white4:#8b795e;
    --pale_green4:#548b54;
    --cadet_blue4:#53868b;
    --olive_drab4:#698b22;
    --deep_sky_blue3:#009acd;
    --gray49:#7d7d7d;
    --grey49:#7d7d7d;
    --slate_blue1:#836fff;
    --slate_gray:#708090;
    --slate_grey:#708090;
    --light_blue4:#68838b;
    --light_slate_blue:#8470ff;
    --bisque4:#8b7d6b;
    --olive_drab:#6b8e23;
    --dark_slate_gray4:#528b8b;
    --gray50:#7f7f7f;
    --grey50:#7f7f7f;
    --wheat4:#8b7e66;
    --medium_purple:#9370db;
    --dark_olive_green4:#6e8b3d;
    --light_goldenrod4:#8b814c;
    --thistle4:#8b7b8b;
    --dodger_blue1:#1e90ff;
    --dodger_blue:#1e90ff;
    --misty_rose4:#8b7d7b;
    --pale_violet_red3:#cd6889;
    --indian_red2:#ee6363;
    --yellow4:#8b8b00;
    --dark_sea_green4:#698b69;
    --medium_orchid2:#d15fee;
    --salmon3:#cd7054;
    --gray51:#828282;
    --grey51:#828282;
    --tomato1:#ff6347;
    --tomato:#ff6347;
    --khaki4:#8b864e;
    --pale_turquoise4:#668b8b;
    --antique_white4:#8b8378;
    --coral2:#ee6a50;
    --lavender_blush4:#8b8386;
    --gray52:#858585;
    --grey52:#858585;
    --orchid3:#cd69c9;
    --light_slate_gray:#778899;
    --light_slate_grey:#778899;
    --seashell4:#8b8682;
    --dark_orange2:#ee7600;
    --gray53:#878787;
    --grey53:#878787;
    --light_cyan4:#7a8b8b;
    --cornsilk4:#8b8878;
    --lemon_chiffon4:#8b8970;
    --dark_goldenrod:#b8860b;
    --honeydew4:#838b83;
    --pale_violet_red:#db7093;
    --azure4:#838b8b;
    --chocolate2:#ee7621;
    --snow4:#8b8989;
    --steel_blue3:#4f94cd;
    --medium_purple2:#9f79ee;
    --indian_red1:#ff6a6a;
    --light_yellow4:#8b8b7a;
    --gray54:#8a8a8a;
    --grey54:#8a8a8a;
    --ivory4:#8b8b83;
    --hot_pink2:#ee6aa7;
    --orange3:#cd8500;
    --medium_orchid1:#e066ff;
    --gray55:#8c8c8c;
    --grey55:#8c8c8c;
    --orchid:#da70d6;
    --sienna2:#ee7942;
    --coral1:#ff7256;
    --hot_pink:#ff69b4;
    --light_salmon3:#cd8162;
    --gray56:#8f8f8f;
    --grey56:#8f8f8f;
    --peru:#cd853f;
    --tan3:#cd853f;
    --deep_sky_blue2:#00b2ee;
    --cadet_blue:#5f9ea0;
    --cornflower_blue:#6495ed;
    --gray57:#919191;
    --grey57:#919191;
    --dark_orange1:#ff7f00;
    --hot_pink1:#ff6eb4;
    --light_sea_green:#20b2aa;
    --green3:#00cd00;
    --chocolate1:#ff7f24;
    --medium_purple1:#ab82ff;
    --gray58:#949494;
    --grey58:#949494;
    --pale_violet_red2:#ee799f;
    --medium_sea_green:#3cb371;
    --gray59:#969696;
    --grey59:#969696;
    --salmon2:#ee8262;
    --coral:#ff7f50;
    --dark_goldenrod3:#cd950c;
    --light_coral:#f08080;
    --sienna1:#ff8247;
    --rosy_brown:#bc8f8f;
    --salmon:#fa8072;
    --gray60:#999999;
    --grey60:#999999;
    --spring_green3:#00cd66;
    --dark_orange:#ff8c00;
    --light_pink3:#cd8c95;
    --orchid2:#ee7ae9;
    --deep_sky_blue1:#00bfff;
    --deep_sky_blue:#00bfff;
    --turquoise3:#00c5cd;
    --gray61:#9c9c9c;
    --grey61:#9c9c9c;
    --sky_blue3:#6ca6cd;
    --goldenrod3:#cd9b1d;
    --gray62:#9e9e9e;
    --grey62:#9e9e9e;
    --pink3:#cd919e;
    --pale_violet_red1:#ff82ab;
    --steel_blue2:#5cacee;
    --orange2:#ee9a00;
    --violet:#ee82ee;
    --lime_green:#32cd32;
    --gray63:#a1a1a1;
    --grey63:#a1a1a1;
    --cyan3:#00cdcd;
    --salmon1:#ff8c69;
    --dark_turquoise:#00ced1;
    --gray64:#a3a3a3;
    --grey64:#a3a3a3;
    --light_salmon2:#ee9572;
    --dark_salmon:#e9967a;
    --rosy_brown3:#cd9b9b;
    --plum3:#cd96cd;
    --orchid1:#ff83fa;
    --gray65:#a6a6a6;
    --grey65:#a6a6a6;
    --tan2:#ee9a49;
    --goldenrod:#daa520;
    --gold3:#cdad00;
    --gray66:#a8a8a8;
    --grey66:#a8a8a8;
    --chartreuse3:#66cd00;
    --dark_gray:#a9a9a9;
    --dark_grey:#a9a9a9;
    --sea_green3:#43cd80;
    --green2:#00ee00;
    --gray67:#ababab;
    --grey67:#ababab;
    --steel_blue1:#63b8ff;
    --orange1:#ffa500;
    --orange:#ffa500;
    --gray68:#adadad;
    --grey68:#adadad;
    --burlywood3:#cdaa7d;
    --light_sky_blue3:#8db6cd;
    --dark_sea_green:#8fbc8f;
    --dark_goldenrod2:#eead0e;
    --gray69:#b0b0b0;
    --grey69:#b0b0b0;
    --sandy_brown:#f4a460;
    --plum:#dda0dd;
    --light_salmon1:#ffa07a;
    --light_salmon:#ffa07a;
    --tan1:#ffa54f;
    --light_steel_blue3:#a2b5cd;
    --spring_green2:#00ee76;
    --slate_gray3:#9fb6cd;
    --dark_khaki:#bdb76b;
    --light_pink2:#eea2ad;
    --gray70:#b3b3b3;
    --grey70:#b3b3b3;
    --peach_puff3:#cdaf95;
    --medium_turquoise:#48d1cc;
    --medium_aquamarine:#66cdaa;
    --aquamarine3:#66cdaa;
    --turquoise2:#00e5ee;
    --gray71:#b5b5b5;
    --grey71:#b5b5b5;
    --sky_blue2:#7ec0ee;
    --cadet_blue3:#7ac5cd;
    --navajo_white3:#cdb38b;
    --goldenrod2:#eeb422;
    --pale_green3:#7ccd7c;
    --green1:#00ff00;
    --green:#00ff00;
    --olive_drab3:#9acd32;
    --yellow_green:#9acd32;
    --tan:#d2b48c;
    --gray72:#b8b8b8;
    --grey72:#b8b8b8;
    --pink2:#eea9b8;
    --light_blue3:#9ac0cd;
    --bisque3:#cdb79e;
    --gray73:#bababa;
    --grey73:#bababa;
    --dark_slate_gray3:#79cdcd;
    --cyan2:#00eeee;
    --wheat3:#cdba96;
    --misty_rose3:#cdb7b5;
    --dark_olive_green3:#a2cd5a;
    --light_goldenrod3:#cdbe70;
    --dark_goldenrod1:#ffb90f;
    --thistle3:#cdb5cd;
    --burlywood:#deb887;
    --turquoise:#40e0d0;
    --gray74:#bdbdbd;
    --grey74:#bdbdbd;
    --medium_spring_green:#00fa9a;
    --gray:#bebebe;
    --grey:#bebebe;
    --yellow3:#cdcd00;
    --dark_sea_green3:#9bcd9b;
    --gray75:#bfbfbf;
    --grey75:#bfbfbf;
    --spring_green1:#00ff7f;
    --spring_green:#00ff7f;
    --light_pink1:#ffaeb9;
    --plum2:#eeaeee;
    --rosy_brown2:#eeb4b4;
    --sky_blue:#87ceeb;
    --pale_turquoise3:#96cdcd;
    --khaki3:#cdc673;
    --antique_white3:#cdc0b0;
    --light_steel_blue:#b0c4de;
    --turquoise1:#00f5ff;
    --gray76:#c2c2c2;
    --grey76:#c2c2c2;
    --light_sky_blue:#87cefa;
    --gold2:#eec900;
    --sky_blue1:#87ceff;
    --goldenrod1:#ffc125;
    --chartreuse2:#76ee00;
    --lavender_blush3:#cdc1c5;
    --gray77:#c4c4c4;
    --grey77:#c4c4c4;
    --sea_green2:#4eee94;
    --pink1:#ffb5c5;
    --thistle:#d8bfd8;
    --seashell3:#cdc5bf;
    --light_pink:#ffb6c1;
    --gray78:#c7c7c7;
    --grey78:#c7c7c7;
    --lemon_chiffon3:#cdc9a5;
    --cornsilk3:#cdc8b1;
    --light_cyan3:#b4cdcd;
    --cyan1:#00ffff;
    --cyan:#00ffff;
    --gray79:#c9c9c9;
    --grey79:#c9c9c9;
    --honeydew3:#c1cdc1;
    --snow3:#cdc9c9;
    --burlywood2:#eec591;
    --azure3:#c1cdcd;
    --light_sky_blue2:#a4d3ee;
    --light_yellow3:#cdcdb4;
    --gray80:#cccccc;
    --grey80:#cccccc;
    --ivory3:#cdcdc1;
    --rosy_brown1:#ffc1c1;
    --pink:#ffc0cb;
    --plum1:#ffbbff;
    --lawn_green:#7cfc00;
    --gray81:#cfcfcf;
    --grey81:#cfcfcf;
    --light_steel_blue2:#bcd2ee;
    --slate_gray2:#b9d3ee;
    --light_blue:#add8e6;
    --gold1:#ffd700;
    --gold:#ffd700;
    --peach_puff2:#eecbad;
    --gray82:#d1d1d1;
    --grey82:#d1d1d1;
    --chartreuse1:#7fff00;
    --chartreuse:#7fff00;
    --aquamarine2:#76eec6;
    --navajo_white2:#eecfa1;
    --light_gray:#d3d3d3;
    --light_grey:#d3d3d3;
    --cadet_blue2:#8ee5ee;
    --light_green:#90ee90;
    --pale_green2:#90ee90;
    --sea_green1:#54ff9f;
    --gray83:#d4d4d4;
    --grey83:#d4d4d4;
    --olive_drab2:#b3ee3a;
    --gray84:#d6d6d6;
    --grey84:#d6d6d6;
    --powder_blue:#b0e0e6;
    --light_blue2:#b2dfee;
    --bisque2:#eed5b7;
    --burlywood1:#ffd39b;
    --gray85:#d9d9d9;
    --grey85:#d9d9d9;
    --light_goldenrod2:#eedc82;
    --dark_slate_gray2:#8deeee;
    --light_sky_blue1:#b0e2ff;
    --wheat2:#eed8ae;
    --dark_olive_green2:#bcee68;
    --thistle2:#eed2ee;
    --light_goldenrod:#eedd82;
    --misty_rose2:#eed5d2;
    --gray86:#dbdbdb;
    --grey86:#dbdbdb;
    --gainsboro:#dcdcdc;
    --yellow2:#eeee00;
    --dark_sea_green2:#b4eeb4;
    --gray87:#dedede;
    --grey87:#dedede;
    --slate_gray1:#c6e2ff;
    --light_steel_blue1:#cae1ff;
    --green_yellow:#adff2f;
    --pale_green:#98fb98;
    --peach_puff1:#ffdab9;
    --peach_puff:#ffdab9;
    --wheat:#f5deb3;
    --gray88:#e0e0e0;
    --grey88:#e0e0e0;
    --pale_turquoise2:#aeeeee;
    --pale_turquoise:#afeeee;
    --aquamarine1:#7fffd4;
    --aquamarine:#7fffd4;
    --khaki2:#eee685;
    --antique_white2:#eedfcc;
    --navajo_white1:#ffdead;
    --navajo_white:#ffdead;
    --khaki:#f0e68c;
    --cadet_blue1:#98f5ff;
    --pale_green1:#9aff9a;
    --gray89:#e3e3e3;
    --grey89:#e3e3e3;
    --lavender_blush2:#eee0e5;
    --olive_drab1:#c0ff3e;
    --pale_goldenrod:#eee8aa;
    --gray90:#e5e5e5;
    --grey90:#e5e5e5;
    --light_blue1:#bfefff;
    --moccasin:#ffe4b5;
    --seashell2:#eee5de;
    --lemon_chiffon2:#eee9bf;
    --cornsilk2:#eee8cd;
    --bisque1:#ffe4c4;
    --bisque:#ffe4c4;
    --lavender:#e6e6fa;
    --light_cyan2:#d1eeee;
    --gray91:#e8e8e8;
    --grey91:#e8e8e8;
    --wheat1:#ffe7ba;
    --dark_slate_gray1:#97ffff;
    --light_goldenrod1:#ffec8b;
    --dark_olive_green1:#caff70;
    --misty_rose1:#ffe4e1;
    --misty_rose:#ffe4e1;
    --thistle1:#ffe1ff;
    --honeydew2:#e0eee0;
    --snow2:#eee9e9;
    --gray92:#ebebeb;
    --grey92:#ebebeb;
    --azure2:#e0eeee;
    --light_yellow2:#eeeed1;
    --yellow1:#ffff00;
    --yellow:#ffff00;
    --antique_white:#faebd7;
    --ivory2:#eeeee0;
    --gray93:#ededed;
    --grey93:#ededed;
    --blanched_almond:#ffebcd;
    --dark_sea_green1:#c1ffc1;
    --gray94:#f0f0f0;
    --grey94:#f0f0f0;
    --khaki1:#fff68f;
    --papaya_whip:#ffefd5;
    --pale_turquoise1:#bbffff;
    --antique_white1:#ffefdb;
    --linen:#faf0e6;
    --gray95:#f2f2f2;
    --grey95:#f2f2f2;
    --beige:#f5f5dc;
    --lavender_blush1:#fff0f5;
    --lavender_blush:#fff0f5;
    --white_smoke:#f5f5f5;
    --gray96:#f5f5f5;
    --grey96:#f5f5f5;
    --old_lace:#fdf5e6;
    --seashell1:#fff5ee;
    --seashell:#fff5ee;
    --alice_blue:#f0f8ff;
    --gray97:#f7f7f7;
    --grey97:#f7f7f7;
    --light_goldenrod_yellow:#fafad2;
    --cornsilk1:#fff8dc;
    --cornsilk:#fff8dc;
    --lemon_chiffon1:#fffacd;
    --lemon_chiffon:#fffacd;
    --light_cyan1:#e0ffff;
    --light_cyan:#e0ffff;
    --ghost_white:#f8f8ff;
    --gray98:#fafafa;
    --grey98:#fafafa;
    --floral_white:#fffaf0;
    --honeydew1:#f0fff0;
    --honeydew:#f0fff0;
    --snow1:#fffafa;
    --snow:#fffafa;
    --azure1:#f0ffff;
    --azure:#f0ffff;
    --gray99:#fcfcfc;
    --grey99:#fcfcfc;
    --mint_cream:#f5fffa;
    --light_yellow1:#ffffe0;
    --light_yellow:#ffffe0;
    --ivory1:#fffff0;
    --ivory:#fffff0;
    --gray100:#ffffff;
    --grey100:#ffffff;
    --white:#ffffff;
    
    --kde_bg:#4377a2;
}