@import './rgb.css';
@import './main.css';

.topl:hover {
    box-shadow: 0 0 0.2em 0.2em #0ff;
}

h4 {
    padding: 0;
    margin: 0;
    margin-top: 0;
    color: white;
    font-color: white;
    font-family: "Cantarell", "MyCantarell";
    font-size: 0.8em;
}

#taskbar {
    width: 100%;
}

#task-meta {
    width: 75%;
    padding: 0;
    margin: auto;
    margin-top: auto;
    background-color: rgba(200,200,200,0.2);
    border: 0.1em solid white;
    text-align: center;
}

#taskbar div {
    display: inline-block;
    zoom: 1;
    width: 19%;
    text-align:center;
    margin: auto;
    margin-top: auto;
    margin-bottom: 5%;
    padding: 0;
}



#task-meta hr {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.taskimg {
    width: 40%;
    height: 40%;
}

.twin {
    border: 1.5em solid transparent;
    border-image: url(../res/terminal.png) 38 37 38 36 round;
    padding: 0;
    /* positioning */
    margin: 0 auto;
    margin-top: 75px;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.85);
    
}

.tcontent {
    margin: 0 auto;
    padding: 0;
}

.twin p {
    margin: 0 auto;
    padding: 0;
    white-space: pre-wrap;
    color: var(--grey);
}

h2 {
    color: var(--spring_green);
    font-size: 26pt;
}

body {
    /*background-image: url(../res/back01.jpg);*/
    background: #2d6189;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Inconsolata, "Courier New", monospace;
    font-size: 1.1em;
    -webkit-font-smoothing : none;
    -moz-font-smoothing: never;
}

.fttr {
    margin-top: auto;
    margin: auto;
    margin-top: 75px;
    width: 75%;
}

